## <strong> REQUEST </strong>

Get method is used to retrieve infromation from the specific URL.

The url contains Premier-League football stats.

In [1]:
import requests
from bs4 import BeautifulSoup
url = 'https://fbref.com/en/comps/9/Premier-League-Stats'
r = requests.get(url)

### ATTRIBUTES

In [2]:
print(r.status_code) #reponse status code.

200

In [3]:
print(r.headers) #Dictionary containing the the HTTP headers of the response

{'Date': 'Fri, 29 Mar 2024 17:45:50 GMT', 'Content-Type': 'text/html; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'sr-miss-memd-key': '/en/comps/9/Premier-League-Stats', 'x-frame-options': 'SAMEORIGIN', 'strict-transport-security': 'max-age=2592000; includeSubDomains', 'vary': 'Accept-Encoding', 'x-content-type-options': 'nosniff', 'referrer-policy': 'no-referrer-when-downgrade', 'Last-Modified': 'Fri, 29 Mar 2024 17:44:43 GMT', 'CF-Cache-Status': 'HIT', 'Age': '23', 'Expires': 'Fri, 29 Mar 2024 21:45:50 GMT', 'Cache-Control': 'public, max-age=14400', 'Set-Cookie': '__cf_bm=lzmDgUuErfdPjGIGsYGyKrdo0EDakVV5eoNRBtDMaYE-1711734350-1.0.1.1-hbLxk0mRQV7tYAYNc2U1uLwTierSsN7r3fMGnv3PViijLkqxyq8k25wKN5Scjb9W0JbQ6NkboBoA7O5t3QPMEg; path=/; expires=Fri, 29-Mar-24 18:15:50 GMT; domain=.fbref.com; HttpOnly; Secure; SameSite=None', 'Server': 'cloudflare', 'CF-RAY': '86c1ad08ae9da992-LCA', 'Content-Encoding': 'gzip'}

In [4]:
text= r.text #The content of the response in plain text format

In [5]:
content=r.content # The content of the reponse in bytes

### <strong>BEAUTIFUL SOUP</strong>

In [6]:
soup = BeautifulSoup(r.text,'html.parser')

### METHODS

Accessing the Premier League Table.

In [7]:
tbody =soup.find('tbody') #body of the table contains of a the rows in the table
trow =soup.find_all('tr') #contains a list of all the row in the table  
tr = soup.find_all('tbody')[0].find_all('tr')[0]  #Accessing the first tbody tag and then the first tr tag. (the first row of the premier league table)

In [8]:
t_head = soup.find('body').find_all('thead')[0].find_all('tr')[0].find_all('th') #accessing the head of the table
head_list=[]
for i in range(len(t_head)):
 head_list.append(t_head[i].text)
    
dictionary = {key: [] for key in head_list}
print(dictionary)

{'Rk': [], 'Squad': [], 'MP': [], 'W': [], 'D': [], 'L': [], 'GF': [], 'GA': [], 'GD': [], 'Pts': [], 'Pts/MP': [], 'xG': [], 'xGA': [], 'xGD': [], 'xGD/90': [], 'Last 5': [], 'Attendance': [], 'Top Team Scorer': [], 'Goalkeeper': [], 'Notes': []}

In [9]:
trow_data = soup.find_all('tbody')[0].find_all('tr')[1].find_all('td') #accessing the body of the table
row_list=[]
for rows in range(len(trow_data)):#itreating through the rows
  row_list.append(trow_data[rows].text)
print(row_list)

[' Liverpool', '28', '19', '7', '2', '65', '26', '+39', '64', '2.29', '62.6', '34.5', '+28.1', '+1.00', 'W W W W D', '54,519', 'Mohamed Salah - 15', 'Alisson', '']

In [10]:
row_data = soup.find_all('tbody')[0].find_all('tr')[0].find_all('td')[0]
print(row_data.text)

 Arsenal

In [11]:
for columns in range(len(soup.find_all('tbody')[0].find_all('tr'))):#list of rows
    trow_data = soup.find_all('tbody')[0].find_all('tr')[columns].find_all('td') #columns
    row_list=[]
    for column in range(len(trow_data)):
      row_list.append(trow_data[column].text)
    for b in range(19):#columns
     dictionary[head_list[b+1]].append(row_list[b])
del dictionary['Rk']
print(dictionary)

{'Squad': [' Arsenal', ' Liverpool', ' Manchester City', ' Aston Villa', ' Tottenham', ' Manchester Utd', ' West Ham', ' Brighton', ' Wolves', ' Newcastle Utd', ' Chelsea', ' Fulham', ' Bournemouth', ' Crystal Palace', ' Brentford', ' Everton', ' Luton Town', " Nott'ham Forest", ' Burnley', ' Sheffield Utd'], 'MP': ['28', '28', '28', '29', '28', '28', '29', '28', '28', '28', '27', '29', '28', '28', '29', '28', '29', '29', '29', '28'], 'W': ['20', '19', '19', '17', '16', '15', '12', '11', '12', '12', '11', '11', '9', '7', '7', '8', '5', '6', '4', '3'], 'D': ['4', '7', '6', '5', '5', '2', '8', '9', '5', '4', '6', '5', '8', '8', '5', '7', '7', '7', '5', '5'], 'L': ['4', '2', '3', '7', '7', '11', '9', '8', '11', '12', '10', '13', '11', '13', '17', '13', '17', '16', '20', '20'], 'GF': ['70', '65', '63', '60', '59', '39', '46', '50', '42', '59', '47', '43', '41', '33', '41', '29', '42', '35', '29', '24'], 'GA': ['24', '26', '28', '42', '42', '39', '50', '44', '44', '48', '45', '44', '52', '48', '54', '39', '60', '51', '63', '74'], 'GD': ['+46', '+39', '+35', '+18', '+17', '0', '-4', '+6', '-2', '+11', '+2', '-1', '-11', '-15', '-13', '-10', '-18', '-16', '-34', '-50'], 'Pts': ['64', '64', '63', '56', '53', '47', '44', '42', '41', '40', '39', '38', '35', '29', '26', '25', '22', '21', '17', '14'], 'Pts/MP': ['2.29', '2.29', '2.25', '1.93', '1.89', '1.68', '1.52', '1.50', '1.46', '1.43', '1.44', '1.31', '1.25', '1.04', '0.90', '0.89', '0.76', '0.72', '0.59', '0.50'], 'xG': ['56.6', '62.6', '56.6', '51.7', '49.4', '43.3', '41.0', '45.5', '37.6', '51.1', '50.1', '39.2', '42.6', '33.1', '45.0', '42.3', '35.3', '36.5', '28.4', '25.2'], 'xGA': ['19.4', '34.5', '27.6', '41.8', '46.4', '47.4', '51.0', '38.7', '47.9', '49.2', '40.2', '49.8', '44.8', '39.9', '45.2', '39.8', '59.8', '41.9', '50.5', '57.1'], 'xGD': ['+37.2', '+28.1', '+29.0', '+9.8', '+2.9', '-4.2', '-10.0', '+6.8', '-10.3', '+2.0', '+9.8', '-10.6', '-2.3', '-6.9', '-0.2', '+2.6', '-24.4', '-5.4', '-22.1', '-31.9'], 'xGD/90': ['+1.33', '+1.00', '+1.04', '+0.34', '+0.10', '-0.15', '-0.34', '+0.24', '-0.37', '+0.07', '+0.36', '-0.37', '-0.08', '-0.24', '-0.01', '+0.09', '-0.84', '-0.19', '-0.76', '-1.14'], 'Last 5': ['W W W W W', 'W W W W D', 'D W W W D', 'W W W L D', 'W L W W L', 'W W L L W', 'L W W D D', 'L W D L W', 'L W W L W', 'W D L W L', 'L W D D W', 'L W W L W', 'D L W D W', 'L D W L D', 'L L D L L', 'L D D L L', 'L L D L D', 'W L L L D', 'L L L D W', 'W L L L D'], 'Attendance': ['60,213', '54,519', '52,996', '41,698', '61,555', '73,523', '62,594', '33,003', '31,280', '52,121', '39,556', '24,290', '11,081', '24,861', '17,077', '39,063', '11,065', '29,344', '21,159', '30,355'], 'Top Team Scorer': ['Bukayo Saka - 13', 'Mohamed Salah - 15', 'Erling Haaland - 18', 'Ollie Watkins - 16', 'Son Heung-min - 14', 'Marcus Rashford, Scott McTominay... - 7', 'Jarrod Bowen - 14', 'João Pedro - 8', 'Hwang Hee-chan - 10', 'Alexander Isak - 12', 'Cole Palmer - 11', 'Rodrigo Muniz - 7', 'Dominic Solanke - 15', 'Odsonne Édouard, Eberechi Eze... - 6', 'Yoane Wissa, Bryan Mbeumo - 7', 'Abdoulaye Doucouré - 6', 'Elijah Adebayo - 9', 'Chris Wood - 9', 'Lyle Foster, Zeki Amdouni... - 4', 'Oliver McBurnie, Cameron Archer - 4'], 'Goalkeeper': ['David Raya', 'Alisson', 'Ederson', 'Emiliano Martínez', 'Guglielmo Vicario', 'André Onana', 'Alphonse Areola', 'Jason Steele', 'José Sá', 'Nick Pope', 'Robert Sánchez', 'Bernd Leno', 'Neto', 'Sam Johnstone', 'Mark Flekken', 'Jordan Pickford', 'Thomas Kaminski', 'Matt Turner', 'James Trafford', 'Wes Foderingham'], 'Notes': ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '6-point deduction 1', '', '4-point deduction 2', '', '']}

In [12]:
import pandas as pd

# Creating a DataFrame from the dictionary
df = pd.DataFrame(dictionary)

In [13]:
df.head()

,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,Arsenal,28,20,4,4,70,24,+46,64,2.29,56.6,19.4,+37.2,+1.33,W W W W W,"60,213",Bukayo Saka - 13,David Raya,
1,Liverpool,28,19,7,2,65,26,+39,64,2.29,62.6,34.5,+28.1,+1.00,W W W W D,"54,519",Mohamed Salah - 15,Alisson,
2,Manchester City,28,19,6,3,63,28,+35,63,2.25,56.6,27.6,+29.0,+1.04,D W W W D,"52,996",Erling Haaland - 18,Ederson,
3,Aston Villa,29,17,5,7,60,42,+18,56,1.93,51.7,41.8,+9.8,+0.34,W W W L D,"41,698",Ollie Watkins - 16,Emiliano Martínez,
4,Tottenham,28,16,5,7,59,42,+17,53,1.89,49.4,46.4,+2.9,+0.10,W L W W L,"61,555",Son Heung-min - 14,Guglielmo Vicario,

In [14]:
print(df.values[0])

[' Arsenal' '28' '20' '4' '4' '70' '24' '+46' '64' '2.29' '56.6' '19.4'
 '+37.2' '+1.33' 'W W W W W' '60,213' 'Bukayo Saka - 13' 'David Raya' '']

In [15]:
print(df['Top Team Scorer'])

0                            Bukayo Saka - 13
1                          Mohamed Salah - 15
2                         Erling Haaland - 18
3                          Ollie Watkins - 16
4                          Son Heung-min - 14
5     Marcus Rashford, Scott McTominay... - 7
6                           Jarrod Bowen - 14
7                              João Pedro - 8
8                         Hwang Hee-chan - 10
9                         Alexander Isak - 12
10                           Cole Palmer - 11
11                          Rodrigo Muniz - 7
12                       Dominic Solanke - 15
13       Odsonne Édouard, Eberechi Eze... - 6
14              Yoane Wissa, Bryan Mbeumo - 7
15                     Abdoulaye Doucouré - 6
16                         Elijah Adebayo - 9
17                             Chris Wood - 9
18           Lyle Foster, Zeki Amdouni... - 4
19        Oliver McBurnie, Cameron Archer - 4
Name: Top Team Scorer, dtype: object

In [16]:
print(df.sort_values('D').head())

              Squad  MP   W  D   L  GF  GA   GD Pts Pts/MP    xG   xGA    xGD  \
5    Manchester Utd  28  15  2  11  39  39    0  47   1.68  43.3  47.4   -4.2
0           Arsenal  28  20  4   4  70  24  +46  64   2.29  56.6  19.4  +37.2
9     Newcastle Utd  28  12  4  12  59  48  +11  40   1.43  51.1  49.2   +2.0
3       Aston Villa  29  17  5   7  60  42  +18  56   1.93  51.7  41.8   +9.8
14        Brentford  29   7  5  17  41  54  -13  26   0.90  45.0  45.2   -0.2

   xGD/90     Last 5 Attendance                          Top Team Scorer  \
5   -0.15  W W L L W     73,523  Marcus Rashford, Scott McTominay... - 7
0   +1.33  W W W W W     60,213                         Bukayo Saka - 13
9   +0.07  W D L W L     52,121                      Alexander Isak - 12
3   +0.34  W W W L D     41,698                       Ollie Watkins - 16
14  -0.01  L L D L L     17,077            Yoane Wissa, Bryan Mbeumo - 7

           Goalkeeper Notes
5         André Onana
0          David Raya
9           Nick Pope
3   Emiliano Martínez
14       Mark Flekken